<h4>Pusher Index</h4>
<hr />

<div>
    <ul>
        <li>
            @Html.ActionLink("Create", "Create")
        </li>
        <li>
            @Html.ActionLink("Edit", "Edit")
        </li>
        <li>
            @Html.ActionLink("Cancel", "Cancel")
        </li>
    </ul>
</div>